
/* Menu Vertical Sencillo */
#menu{
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #7C7C7C;
    border-bottom: none;
}
#menu li {
    border-bottom: 1px solid #7C7C7C;
    border-top: 1px solid #FFF;
    background: #F4F4F4;
}
#menu li a {
    padding: .2em 0 .2em .5em;
    display: block;
    text-decoration: none;
    color: #333;
    /* border: 1px solid red; */
}


/* Menu Vertical Avanzado */
#menu2{
    width: 180px;
    /* list-style: none; */
    margin: 0;
    padding: 0;
    border: 1px solid #7C7C7C;
    border-bottom: none;
}
#menu2 li {
    padding: 0.2em;
    border-bottom: 1px solid #7C7C7C;
    border-top: 1px solid #FFF;
    background: #F4F4F4;
    list-style-image: url(images/flecha_inactiva.png);
    list-style-position: inside;
}
#menu2 li:hover {
    list-style-image: url(images/flecha_activa.png);
    background: #E4E4E4;
}

#menu2 li a {
    /*El padding derecho hace que se amplie la superficie del <a> */
    padding: 0.2em 1.7em 0.2em; 
    text-decoration: none;
    color: #333;
    /* border: 1px solid red; */
}